
/* VERT : #007a76; */
/* GRIS : #718297; */
/* VIOLET : #554971; */
/* JAUNE CLAIR : #FDD835; */
/* JAUNE FONCE #FFC107; */



body {
    font-family: 'Raleway', sans-serif;
    color: #33233C;
    background: #F8F8F8;
}
body, body * { color: #33233C; }

a { text-decoration: underline; }
a:hover,
a:hover * { color: #28a745; }

h2 {
	/*margin: 50px 0;*/
	padding-top: 20px;
	font-size: 1.5rem; font-weight: bold;
}
h3 { font-size: 1.25rem; font-weight: bold; }

.alert p { margin: 0; }
.todo { opacity: .5; }

.offscreen { position: absolute; left: -999em; height: 1%; }
.none { display: none !important; }



/* header */
/* ---------------------------------------------------------------------- */
header { text-align: center; }
/*.header-sticky {
	width: 100%;
	position: fixed;
    z-index: 999;
}*/
.header-inner {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-bottom: 0 solid rgba(255, 255, 255, 0.5);
}
#logo {
	width: 150px;
	margin: 20px;
	vertical-align: center;
	margin-top: ;
}
header h1 { margin: 0; padding: 12px 0 0; line-height: 1; font-weight: bold; }
header p { padding-bottom: 12px; }

/* main */
/* ---------------------------------------------------------------------- */
main { margin-bottom: 30px }

#convertisseuse { /*background-color: #fffDE7;*/ }
#convertisseuse label p { margin: 0; }
#convertisseuse .lead { margin: 40px 0; }

.origine,
.newtext {
	width: 100%;
	min-height: 12em;
	padding: 2px;
}
.newtext{
	background-color: #EEE;
}

#more{ padding-top: 40px; }
#more ul,
#more li {}
#more span {}
#more span.big {
/*	font-size: 150px;
	opacity: .6;
	color: #fff3cd;
	line-height: 0; */
}
#more span.big::after { content: "."; }
#more span.p {}

/* footer */
/* ---------------------------------------------------------------------- */
#footer {}
#footer * { vertical-align: middle; }
#about h2 { font-size: 100%; font-weight: bold; }
#footer h2,
#footer p { margin-top: 0; padding-top: 0; margin-bottom: .5em; }

#contact { text-align: right; }
#contact ul,
#contact li { margin: 0; padding: 0; list-style: none; display: inline; }
#contact a { display: inline-block; min-width: 40px; padding: 0 2px; text-align: center; }
#contact a.github:hover * { color: #913399; }
#contact a.wiki:hover * { color: #C19B35; }
#contact a.twitter:hover * { color: #1B95E0; }
#contact a.facebook:hover * { color: #405A94; }

/* end */