
/* ROSE : #ff7791; */
/* GRIS : #67697c; */

body{
    font-family: 'Raleway', sans-serif;
}

#myNavbar{
	background-color: #ff7791 !important;
}


#a-propos{
	background-color: #c9cacd;
}

h2 {
	margin: 50px;
	padding-top: 10px;
}

#footer{
	background-color: #67697c;
}

#convertisseur{
	margin-bottom: 30px;
}

